/*Website Styles*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #072323; /* Blue */
  --secondary-color: #9a664f; /* Green */
  --tertiary-color: #ddc29a; /* Red */
  --quaternary-color: #fff2de; /* Yellow */
  --accent-color: #8fa989; /* Purple */
}

/* Fonts */

@font-face {
  font-family: "NeueMontreal";
  src: url("./fonts/PPNeueMontreal-Bold.otf") format("opentype"); /* Adjust the path if necessary */
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("./fonts/PPNeueMontreal-Book.otf") format("opentype"); /* Adjust the path if necessary */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("./fonts/PPNeueMontreal-Italic.otf") format("opentype"); /* Adjust the path if necessary */
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("./fonts/PPNeueMontreal-Medium.otf") format("opentype"); /* Adjust the path if necessary */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("./fonts/PPNeueMontreal-SemiBolditalic.otf") format("opentype"); /* Adjust the path if necessary */
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("./fonts/PPNeueMontreal-Thin.otf") format("opentype"); /* Adjust the path if necessary */
  font-weight: 100;
  font-style: normal;
}

/*Website styles*/

/*--------NAVBAR STYLES--------*/
/* Sticky Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: absolute; /* Change to fixed for sticky behavior */
  top: 0;
  left: 0;
  padding: 40px 220px;
  z-index: 500;
  background-color: transparent; /* Initial background is transparent */
  transition: background-color 0.3s ease;
}

/* Change background color when scrolled */
.navbar-scrolled {
  background-color: var(--primary-color); /* Background when scrolled */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Optional shadow for effect */
  position: fixed;
  padding: 20px 220px;
}

/* Navbar menu styles remain the same */
.navbar-menu {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navbar-menu-list {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu-mobile-icon {
  display: none;
}

.navbar-menu .menu-item {
  letter-spacing: 5px;
  color: var(--quaternary-color);
  font-size: 10px;
  font-weight: 500;
  line-height: 25px;
}

.home-item {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  letter-spacing: 8px;
  color: var(--quaternary-color);
  font-size: 10px;
  position: absolute;
  top: 35px;
  left: 80px;
}

.home-item-scrolled {
  top: 18px;
}

.home-item:hover {
  color: var(--quaternary-color);
}

.menu-item {
  position: relative;
  padding: 0px 20px;
  color: var(--quaternary-color);
  font-weight: 500;
  border-radius: 50px;
  overflow: hidden; /* Ensure the expanding circle stays within bounds */
}

.menu-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 100%;
  background-color: var(--quaternary-color);
  z-index: -1;
  transition: width 0.4s ease; /* Animate the width */
  border-radius: 50px;
}

.menu-item:hover::before {
  width: 100%; /* Expand the circle */
}

.menu-item:hover {
  color: var(--primary-color); /* Change the text color on hover */
}

/* Active state styles */
.menu-item.active {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  font-weight: 500;
  padding: 0px 20px;
  border-radius: 50px;
}

/* Language toggle styles remain the same */
.language-toggle {
  position: relative; /* To position the sliding background */
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.separator {
  background-color: var(--quaternary-color);
  height: 5px;
  width: 5px;
  border-radius: 100%;
}

.language-toggle button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-size: 10px;
  z-index: 2; /* Ensure buttons are above the sliding background */
  position: relative;
  border-radius: 50px;
  transition: color 0.4s ease 0.2s;
}

.language-toggle .active-language {
  padding: 5px 16px;
  color: var(--primary-color);
  font-weight: bold;
  background-color: transparent;
}

.off {
  padding: 5px 5px;
  background-color: transparent;
  color: var(--quaternary-color);
  font-weight: bold;
  transition: color 0.4s ease 0.2s;
}

/* Background slider */
.bg-slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: var(--quaternary-color);
  border-radius: 50px;
  transition: all 0.4s ease;
  z-index: 1; /* Below the buttons */
}

.slide-en {
  left: 0; /* Move background to cover the EN button */
}

.slide-es {
  left: 50%; /* Move background to cover the ES button */
}

.hamburguer-icon,
.close-icon {
  display: none;
}

.hide-mobile {
  display: none;
}

/*--------HOME PAGE STYLES----------*/

.home-page {
  height: 100vh;
  width: 100vw;
  background-image: url("/public/chef-fotos/3.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Makes the background fixed during scrolling */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--quaternary-color);
  padding: 0 16vw;
}

.home-page h1 {
  font-weight: 500;
  letter-spacing: 35px;
  font-size: 40px;
}

/*------------CONTACT PAGE STYLES-----------*/

.contact-page {
  height: 100vh;
  width: 100vw;
  background-image: url("/public/chef-fotos/10.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Makes the background fixed during scrolling */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--quaternary-color);
  padding: 0 16vw;
}

.contact-box-1,
.contact-box-2 {
  border: 1px solid var(--quaternary-color);
  padding: 25px;
  width: 300px;
  margin-left: 40vw;
  display: flex;
  flex-direction: column;
  gap: 7px;
  background-color: rgba(0, 0, 0, 0.364);
}

.contact-box-1 h1 {
  font-weight: 500;
  letter-spacing: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-box-1 a:first-of-type {
  margin-top: 60px;
}

.contact-box-2 {
  text-align: end;
  padding: 10px 25px !important;
}

.icon {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/ /* Makes the background fixed during scrolling */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--quaternary-color);
  text-decoration: none;
}

.contact-info:hover {
  color: var(--tertiary-color);
}

.ig-icon {
  background-image: url("/public/icons/instagram.png"); /* Replace with your image path */
}

.email-icon {
  background-image: url("/public/icons/mail.png"); /* Replace with your image path */
}

.tel-icon {
  background-image: url("/public/icons/call.png"); /* Replace with your image path */
}

/*------------ABOUT PAGE STYLES-------------*/

.about-page {
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: var(--quaternary-color);
}

.about-page .section-1 {
  height: 100vh;
  width: 100vw;
  background-image: url("/public/chef-fotos/5.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/ /* Makes the background fixed during scrolling */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: var(--quaternary-color);
  padding: 0 16vw;
}

.text-display-about {
  display: block;
  width: 400px;
  font-size: 14px;
  letter-spacing: 0.6px;
  grid-column: 2;
  grid-row: 2;
  margin-left: 30%;
  align-content: center;
  margin-top: -70px;
  line-height: 20px;
}

.text-display {
  display: block;
}

.text-display a {
  color: var(--quaternary-color);
}

.text-display a:hover {
  color: var(--tertiary-color);
}

.text-hide {
  display: none;
}

.section-2,
.section-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  font-weight: 500;
}

.plate-1 {
  height: 100vh;
  width: 100%;
  background-image: url("/public/plates/plate-1.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/ /* Makes the background fixed during scrolling */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.sub-section-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 35px;
}

.chef-image-about {
  height: 55vh;
  width: 30vw;
  background-image: url("/public/chef-fotos/6.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/ /* Makes the background fixed during scrolling */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  margin-left: auto;
}

.text-display-section-2 {
  width: 350px;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: var(--secondary-color);
  line-height: 22px;
  margin-left: auto;
  text-align: end;
}

.plate-2-container {
  padding-right: 35px;
}

.plate-2 {
  height: 55vh;
  width: 100%;
  background-image: url("/public/plates/plate-2.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/ /* Makes the background fixed during scrolling */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.text-display-section-3 {
  width: 400px;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: var(--secondary-color);
  line-height: 22px;
  margin-right: auto;
  text-align: start;
}

.sub-section-2 {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.read-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -170px;
  color: var(--quaternary-color);
  font-weight: 500;
  letter-spacing: 1px;
}

/*--------------CAREER PAGE STYLES-----------------*/

/* Base styles for all restaurants */
.restaurant {
  position: absolute; /* Ensure all restaurant containers are on top of each other */
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  opacity: 0; /* Hidden by default */
  visibility: hidden; /* Prevent interaction when hidden */
  transition: opacity 0.5s ease, visibility 0.5s ease;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Show only the active restaurant */
.restaurant-show {
  opacity: 1; /* Fully visible */
  visibility: visible; /* Allows interaction */
}

.el-celler {
  background-image: url("/public/restaurants/ElCeller.jpg");
}

.juana-la-loca {
  background-image: url("/public/restaurants/JuanaLaLoca.jpg");
}

.luxury {
  background-image: url("/public/restaurants/Luxury.jpg");
}

.monasterio {
  background-image: url("/public/restaurants/MonasterioDelViento.jpg");
}

.moo {
  background-image: url("/public/restaurants/MooRestaurant.jpg");
}

.primario {
  background-image: url("/public/restaurants/Primario.webp");
}

.filter-container {
  background-color: hsla(182, 67%, 8%, 0.7);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--quaternary-color);
  gap: 10px;
  padding-top: 150px;
}

.filter-container h1 {
  font-size: 46px;
  font-weight: 500;
  letter-spacing: 10px;
  margin-bottom: -10px;
}

.filter-container h2 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 10px;
  margin-bottom: 60px;
}

.career-navbar {
  display: grid;
  justify-content: space-between;
  align-items: center;

  grid-template-columns: repeat(6, 180px);
  grid-template-rows: 60px;
  bottom: 50px;
  position: fixed; /* Fix the navbar position relative to the viewport */
  /* 100px above the bottom of the screen */
  left: 50%; /* Move the left edge to the center of the screen */
  transform: translateX(
    -50%
  ); /* Translate it left by 50% of its own width to center */
  gap: 0;
  column-gap: 0;
  background-color: #fff2de2a;
}

.career-navbar-item {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 18px 20px;
  justify-content: center;
}

.luxury-navbar {
  padding: 10px 20px;
}

.career-navbar-item h1 {
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 5px;
  color: var(--quaternary-color);
  text-wrap: nowrap;
}

.restaurant-highlight {
  background-color: var(--primary-color);
}

.restaurant-description {
  display: flex;
  gap: 80px;
  margin-bottom: 100px;
  margin-top: 80px;
  top: 240px;
  position: absolute; /* Fix the navbar position relative to the viewport */
  /* 100px above the bottom of the screen */
  left: 50%; /* Move the left edge to the center of the screen */
  transform: translateX(-50%);
}

.restaurant-description p {
  width: 350px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 18px;
}

.restaurant-description p:first-child {
  font-weight: 500;
}

.restaurant-description p:nth-child(3) {
  font-weight: 500;
}

.celler-logo {
  width: 800px;
  height: fit-content;
}

.primario-logo {
  width: 400px;
  height: fit-content;
  margin-bottom: -20px;
}

.monasterio-logo {
  width: 150px;
  height: fit-content;
  margin-bottom: -30px;
}

.monasterio-h2 {
  margin-left: 15px;
}

.juana-logo {
  width: 300px;
  height: fit-content;
}

.restaurant-location {
  display: flex;
  gap: 10px;
  font-size: 16px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  bottom: 140px;
  position: fixed; /* Fix the navbar position relative to the viewport */
  /* 100px above the bottom of the screen */
  left: 50%; /* Move the left edge to the center of the screen */
  transform: translateX(
    -50%
  ); /* Translate it left by 50% of its own width to center */
}

.divider {
  background-color: var(--quaternary-color);
  width: 5px;
  height: 5px;
  border-radius: 100%;
}

.restaurant-hide {
  display: none;
}

.celler-logo-navbar {
  width: 150px !important;
  height: fit-content !important;
}

.navbar-logos {
  height: 100%;
}

.swiper-container {
  display: none;
}

/*--------------------SERVICES PAGE STYLES----------------------*/

.services-container {
  display: flex;
  width: 100vw;
  height: 100vh; /* Adjust based on the height you need */
  overflow: hidden; /* Prevent overflow when sections contract */
}

.service-section {
  position: relative; /* Position the pseudo-element */
  width: 20vw; /* Initial width for each section */
  transition: width 0.6s ease; /* Smooth transition for expansion and contraction */
  overflow: hidden;
  display: flex;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: end;
  filter: grayscale(100%);
}

.service-section h2 {
  color: var(--quaternary-color); /* Adjust text color as needed */
  font-weight: 500;
  transition: font-size 0.8s ease;
}

/* Background filter */
.service-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 35, 35, 0.5); /* #072323 with 50% opacity */
  transition: background-color 0.6s ease; /* Smooth transition for filter */

  z-index: 1;
}

.service-section.expanded::before {
  background-color: rgba(7, 35, 35, 0); /* Remove filter when expanded */
}

/* Ensure content is on top of the filter */
.service-section > * {
  position: relative;
  z-index: 2;
}

.service-section.expanded {
  width: 100vw; /* Expand to full width */
  justify-content: left;
  padding-bottom: 20px;
  filter: grayscale(0%);
}

.service-section.expanded h2 {
  font-size: 90px;

  text-wrap: nowrap;
}

.icon-container {
  margin-left: 20px;
}

.service-section.expanded .icon-container {
  margin-bottom: 20px;
}

.service-section.contracted {
  width: 0; /* Contract to 0 width */
  padding: 0;
}

.service-section.initial {
  width: 20vw; /* The default state with all sections at 20vw */
}

.service-content {
  opacity: 0;
  transform: translateX(0%); /* Initially, text is pushed down off the screen */
  transition: opacity 0.6s ease, transform 0.6s ease; /* Transition opacity and movement */
  color: white; /* Adjust text color */
  max-width: 80%; /* Ensure the text stays within a fixed width */

  overflow: hidden;
}

/* When the section is expanded, reveal the text */
.reveal-text {
  opacity: 1;
  transform: translateX(0); /* Bring the text back into view */
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition-delay: 0.3s; /* Apply the 1-second delay to both properties */
}

.hide-text {
  opacity: 0;
  transform: translateX(
    100%
  ); /* Hide the text again when section is collapsed */
  transition: opacity 0s ease, transform 0s ease;
}

ion-icon {
  font-size: 24px;
  color: var(--quaternary-color);
  cursor: pointer;
}

.service-content {
  margin-top: 20px;
  margin-bottom: 35px;
  color: var(--quaternary-color); /* Adjust color as needed */
  font-size: 16px;
  line-height: 20px;
  width: 40%; /* Adjust width as per design */
  margin-left: auto;
  text-align: justify;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/*--------------------GALLERY PAGE STYLES----------------------*/

.gallery-section-1 {
  height: 100vh;
  width: 100vw;
  background-image: url("/public/plates/8.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Makes the background fixed during scrolling */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  color: var(--quaternary-color);
  padding: 0 16vw;
}

.gallery-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  padding-top: 47vh;
}

.gallery-title h1 {
  font-weight: 500;
  letter-spacing: 35px;
  font-size: 40px;
}

.mosaic-gallery {
  column-count: 4;
  column-gap: 0px;
  background-color: var(--primary-color);
}

.image-container {
  position: relative; /* Important: Make the container relative */
  margin-bottom: 0px;
  overflow: hidden; /* Ensure overlay stays within the container */
}

.image-container img {
  width: 100%;
  display: block;
  transition: transform 0.5s ease; /* Zoom effect on hover */
  cursor: pointer;
}

/* Overlay using ::before */
.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 35, 35, 0.5); /* #072323 at 50% opacity */
  transition: opacity 0.3s ease; /* Smooth transition */
  z-index: 5;
  pointer-events: none; /* Allow clicks through the overlay */
}

/* Remove overlay on hover */
.image-container:hover::before {
  opacity: 0;
}

/* Ensure the img stays on top */
.image-container img {
  position: relative;
  z-index: 2;
}

.view-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  color: var(--quaternary-color);
  font-weight: 500;
  letter-spacing: 1px;
}

/*-----------------------------------------------------------*/
/*------------------- RESPONSIVE STYLES -----------------------*/

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .navbar {
    padding: clamp(40px, 3vw, 40px) clamp(160px, 14.5vw, 220px);
    padding-right: clamp(130px, 13vw, 200px);
  }

  .menu-item {
    padding: 0px clamp(15px, 1vw, 20px);
  }

  .navbar-scrolled {
    padding: clamp(20px, 3vw, 20px) clamp(160px, 13vw, 220px);
  }

  .navbar-menu {
    gap: clamp(30px, 2vw, 40px);
  }

  .home-item {
    left: clamp(15px, 3vw, 60px);
  }

  .menu-item.active {
    padding: 0px 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    padding: clamp(40px, 3vw, 40px) clamp(120px, 15vw, 150px);
    padding-right: clamp(70px, 1vw, 140px);
  }

  .menu-item {
    padding: 0px clamp(10px, 1vw, 15px);
  }

  .navbar-menu .menu-item {
    font-size: clamp(5px, 1vw, 10px);
  }

  .navbar-menu-list {
    gap: clamp(10px, 1vw, 20px);
  }

  .home-item {
    left: clamp(20px, 5vw, 30px);
    font-size: clamp(7px, 1vw, 10px);
  }

  .menu-item.active {
    padding: 0px 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 435px) {
  .navbar {
    padding: 30px clamp(20px, 20vw, 30px);
  }

  .language-toggle {
    z-index: 500;
    font-size: 8px;
  }

  .menu-mobile-icon {
    display: block;
  }

  .hamburguer-icon,
  .close-icon {
    width: 40px;
    color: var(--quaternary-color);
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 500;
  }

  .icon-off {
    display: none;
  }

  .navbar-menu-list {
    display: none;
  }

  .show-menu {
    display: block;
  }

  .home-item {
    display: none;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    gap: 30px;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
  }

  .open {
    transform: translateX(0);
  }

  .mobile-item.active {
    color: #3b3f3a;
  }

  .mobile-item:link {
    color: var(--quaternary-color);
  }

  .mobile-item:active {
    color: var(--accent-color);
  }

  /*
  .hide-mobile-menu {
    display: none;
  }
*/
  .mobile-item {
    letter-spacing: 1px;
    color: var(--quaternary-color);
    font-size: 25px;
    font-weight: 500;
  }

  .mobile-menu-logo {
    font-weight: 300;
    letter-spacing: 8px;
    color: var(--quaternary-color);
    font-size: 8px;
    margin-top: 120px;
  }

  .home-page {
    flex-direction: column;
    padding: 20vh 12vw;
  }

  .home-page h1 {
    font-size: 20px;
    letter-spacing: 25px;
  }

  .text-display-about {
    width: 250px;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 14px;
    margin-left: -40px;
  }

  .section-2 {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .sub-section-1 {
    padding: 0;
  }

  .chef-image-about {
    width: 300px;
    height: 300px;
  }

  .plate-1 {
    width: 300px;
    height: 300px;
  }

  .text-display-section-2 {
    width: 200px;
    font-size: 12px;
    line-height: 14px;
    margin-left: 0;
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .section-3 {
    grid-template-columns: 1fr;
  }

  .plate-2-container {
    grid-row: 2;
    padding: 0;
  }

  .sub-section-2 {
    flex-direction: row;
    width: 100vw;
    gap: 0;
  }

  .text-display-section-3 {
    font-size: 12px;
    line-height: 14px;
    align-content: end;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .contact-page {
    justify-content: end;
  }

  .contact-box-1,
  .contact-box-2 {
    width: 250px;
    margin-left: 25vw;
  }

  .contact-box-2 {
    margin-bottom: 70px;
  }

  .contact-box-1 h1 {
    font-size: 16px;
    letter-spacing: 15px;
  }

  .contact-box-1 a {
    font-size: 12px;
    font-weight: 300;
  }

  .contact-box-1 a:first-of-type {
    margin-top: 40px;
  }

  .restaurant-description {
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .restaurant-description p {
    font-size: 10px;
    line-height: 12px;
    width: 220px;
  }

  .restaurant-location {
    position: absolute; /* Fix the navbar position relative to the viewport */
    /* 100px above the bottom of the screen */
    left: 50%; /* Move the left edge to the center of the screen */
    transform: translateX(-50%);
    font-size: 10px;
    bottom: 220px;
    text-wrap: nowrap;
    width: 100%;
  }

  .primario-logo {
    width: 250px;
  }

  .career-navbar {
    display: none;
  }

  .restaurant {
    overflow: hidden;
  }

  .swiper {
    top: 75vh;
  }

  .swiper-container {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -4px;
  }

  .career-navbar-item {
    cursor: pointer;
    width: 140px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .career-navbar-item h1 {
    font-size: 7px;
  }

  .swipe-wrapper {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .restaurant-highlight {
    background-color: var(--primary-color);
  }

  .navbar-logos {
    width: 60px;
    height: auto;
  }

  .filter-container h1:first-of-type {
    text-align: center;
    font-size: 26px;
  }

  .monasterio-logo {
    width: 100px;
  }

  .juana-logo {
    width: 200px;
  }

  .celler-logo {
    width: 380px;
  }

  .swiper-slide .career-navbar-item h1 {
    text-wrap: nowrap;
  }

  .celler-slider {
    width: 120px;
  }

  .services-container {
    flex-direction: column;
  }

  .service-section {
    width: 100vw !important;
  }

  .service-section.expanded h2 {
    text-wrap: balance;
    font-size: 75px;
  }

  .service-section.initial {
    height: 20vh;
  }

  .service-section.expanded {
    height: 100vh;
  }

  .service-section.contracted {
    height: 0;
  }

  .service-content {
    top: 120px;
    right: 40px;
    width: 80%;
    height: fit-content;
  }
}
